body {
    background-color: #242424;
    color: darkturquoise;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.question-container {
    background-color: #333;
    border: 2px solid darkturquoise;
    border-radius: 10px;
    padding: 20px;
    padding-top: 7px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
}

.question {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.answers button {
    display: block;
    margin: 5px 0;
    padding: 10px;
    background-color: #444;
    color: darkturquoise;
    border: 2px solid darkturquoise;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.answers button.correct {
    background-color: green;
}

.answers button.incorrect {
    background-color: red;
}

.footer-bar {
    position: fixed;
    /* La barra sarà posizionata in fondo allo schermo */
    bottom: 0;
    /* Posizione in basso */
    left: 0;
    /* Allineamento a sinistra */
    width: 100%;
    /* Occupa tutta la larghezza */
    background-color: #333;
    color: darkturquoise;
    padding: 10px 20px;
    /* Padding sopra e sotto */
    box-sizing: border-box;
    /* Include il padding nel calcolo della larghezza */
}

.footer-bar span {
    margin-right: 20px;
    /* Margine a destra tra gli elementi */
}